@charset "utf-8";
/* CSS Document */
body{background:#7DABAE;}

td{
	text-align:center;
	vertical-align:middle;
	border:#666 thick 2px;
}
#wrapper{
	width:1000px;
	margin:0 auto;
	background:#FFF;
	height:auto;
	-webkit-border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topleft:20px;
	-moz-border-radius-topright:20px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	
}
#banner{
width:1000px;
height:200px;
position:relative;
float:left;
background:url(../images/newbanner.gif);
background-repeat:no-repeat;
-webkit-border-top-left-radius:50px;
	-webkit-border-top-right-radius:50px;
	-moz-border-radius-topleft:50px;
	-moz-border-radius-topright:50px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;

}
#menu{
	position:relative;
	float:left;
	width:1000px;
	height:60px;
	color:#FFF;
	background:url(../images/menuback.gif);
	margin-top:-7px;
	text-transform:capitalize;
}
#menu a{
	color:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	font-size:17px;
	text-decoration:none;
		margin-top:-16px;
	padding:17px 25px 24px 25px;
	float:left;}
#menu ul{
	list-style:none;
	

}
#menu ul li{
}

#menu ul li a:hover{
	color:#9F9F9F;
	}
	#menu ul li a:focus{
		color:#D1961B;}
		
#subwrapper{
	width:1000px;
	height:auto;
	position:relative;
	float:left;
	background:#fff;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
}
.mainp{
	width:640px;
	position:relative;
	float:left;
	height:auto;
	background:#F2E4B7;
	color:#333;
	margin:10px 15px;
		-webkit-border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topleft:20px;
	-moz-border-radius-topright:20px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	-moz-border-radius-bottomleft:20px;
	-moz-border-radius-bottomright:20px;
	-webkit-border-bottom-left-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	
}
.sublink{
  width:100%;
  height:auto;
  position:relative;
  float:left;
}
.sublink ul{
	list-style:none;
}
.sublink ul li{
	position:relative;
	float:left;
	width:150px;
	height:150px;
	padding:10px;
	margin-left:12px;
	border:thick 2px #009;
}
.sublink ul li img{
	margin-left:30px;}

.sublink a{
	text-decoration:none;
	font-size:16px;
	
	
	}
.mainreg{
	width:970px;
	position:relative;
	float:left;
	height:auto;
	background:#F2E4B7;
	color:#333;
	margin:10px 15px;
		-webkit-border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topleft:20px;
	-moz-border-radius-topright:20px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	-moz-border-radius-bottomleft:20px;
	-moz-border-radius-bottomright:20px;
	-webkit-border-bottom-left-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	
}
.pagelabel{
width:100%;
position:relative;
float:left;
height:auto;
text-align:center;
font-family:"Times New Roman", Times, serif;
font-size:18px;
font-weight:bold;
color:#400000;
margin-top:10px;

}

.sidebar{
	width:250px;
	height:auto;
	background:url(../images/sideback.gif);
	position:relative;
	float:right;
	margin:10px 15px;
		-webkit-border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topleft:20px;
	-moz-border-radius-topright:20px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	-moz-border-radius-bottomleft:20px;
	-moz-border-radius-bottomright:20px;
	-webkit-border-bottom-left-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	
	}
	.sidebar form{
		width:240px;
		float:left;
		position:relative;
		margin-left:-40px;
	}
	.sidebar img {margin-left:60px;
	margin-top:10px;}
	.sidebar input[type=password],.sidebar input[type=text]{
		width:180px;
		height:30px;
		position:relative;
		float:left;
		text-transform:lowercase;
		}
	.sidebar input[type=submit]{
	width:80px;
	height:40px;
	background:#002346;
	color:#fff;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	
	
	}
	.sidebar ul li a{
		text-decoration:none;
		font-size:16px;
		color:#400000;
		text-align:center;
	}
	.sidebar li{
		margin-bottom:10px;
	}
	.sidebar2{
	width:280px;
	height:auto;
	background:url(../images/sideback.gif);
	position:relative;
	float:right;
	margin:10px 15px;
		-webkit-border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topleft:20px;
	-moz-border-radius-topright:20px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	-moz-border-radius-bottomleft:20px;
	-moz-border-radius-bottomright:20px;
	-webkit-border-bottom-left-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	
	}
	.sidebar2 ul{
		list-style:none;
	}
	.sidebar2 ul li{
	float:left;
	padding-top:10px;
	margin-left:10px;
	width:230px;
	color:#003162;
	font-size:17px;
	margin-bottom:10px;
	
	
		}
#footer{
	width:1000px;
	height:100px;
	position:relative;
	float:left;
	background:url(../images/footer.gif);
	text-align:center;
	color:#fff;
	font-size:16px;
	}
#footer h3{
margin-top:15px;
}
	form{
	width:auto;
	position:relative;
	float:left;
	color:#570000;
	}
form ul {
	list-style:none;
}
form ul li {
	position:relative;
	float:left;
	padding-top:10px;
	margin-left:30px;
	padding-right:20px;
}
.complet{
	color:#C80000;
	font-weight:bold;
	font-size:16px;
	text-decoration:blink;}
	.timer{
		float:right;
	}
.search{
	width:100%;
	height:60px;
	position:relative;
	float:left;
	margin-left:0px;
	border-bottom:#999 dashed 1px;
}

.search table{
	width:800px;
}
	
	
	.records{
	width:80%;
	border:#333 thick 2px;
	height:auto;
	position:relative;
	float:left;
	margin-left:50px;
	text-align: right;
	}
	.records tr{
	width:80%;
	text-align:left;
		vertical-align:middle;
		
	}
	.records td{
		width:200px;}
		.records a{
			color:#C99341;
			text-decoration:none;
			font-size:16px;
			font-weight:bold;
		

}


.reg{
	width:95%;
	margin-left:40px;
	margin-right:20px;
	margin-top:20px;
	margin-bottom:20px;
	position:relative;
	float:left;
}
.reg input[type=text],.reg input[type=password],.reg input[type=number],.reg input[type=date],.reg input[type=email],.reg select{

width:250px;
height:40px;
color:#223A53;
font-size:14px;
text-align:justify;
margin-left:80px;}
.reg input[type=file],input[type=radio]{
	margin-left:80px;
}
.reg textarea{
	width:250px;
	height:90px;
	margin-left:80px;}
	
.cap{
	width:250px;
	height:60px;
	margin-left:80px;
}
.reg input[type=submit],input[type=reset]{
	width:70px;
	height:40px;
	margin-left:80px;
	}
	.reg td{
		text-align:justify;
		}
		.reg th{
		text-align:justify;
		padding-bottom:10px;}
.reg a{
	text-decoration:none;
	color:#002851;
	font-size:16px;
}
   #start{
	   position:relative;
	   width:150px;
	   float:let;
	   height:25px;
	   text-align:center;
	   background:#070;
	   color:#FFF;
	   padding-top:5px;
	   margin-top:10px;
	   -webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
   }
      #resume{
	   position:relative;
	   width:150px;
	   float:let;
	   height:25px;
	   text-align:center;
	   background:#F90;
	   color:#FFF;
	   padding-top:5px;
	   margin-top:10px;
	   -webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
   }
     #complete{
	   position:relative;
	   width:150px;
	   float:let;
	   height:25px;
	   text-align:center;
	   background:#CE0000;
	   color:#FFF;
	   padding-top:5px;
	   margin-top:10px;
	   -webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
   }
   .instruct{
	   position:relative;
	   float:left;
	   width:90%;
	   height:auto;
	   margin-left:10px;
	   text-align:justify;
   }
   .instruct ul {
	   list-style:square;
   }
   .instruct ul li{
	   margin-top:10px;}