<div id="banner"></div>
<div id="menu">
<ul>
<li><a href="tmain.php">Home</a></li>
<li><a href="tprofile.php">Profile</a></li>
<li><a href="addques.php">Add Questions</a></li>
<li><a href="addsub.php">Add Subject</a></li>
<li><a href="adddept.php">Add Department</a></li>
<li><a href="checkresult.php">Result</a></li>
<li><a href="logout.php">Logout</a></li>
<ul>
</div>

