<div id="banner"></div>
<div id="menu">
<ul>
<li><a href="index.php">Home</a></li>
<li><a href="contact.php">Contact Us</a></li>
<li><a href="reg.php">Student signup</a></li>
<li><a href="teachreg.php">Teacher signup</a></li>
<li><a href="stafflogin.php">Teacher login</a></li><ul>
</div>

