<div id="banner"></div>
<div id="menu">
<ul>
<li><a href="stmain.php">Home</a></li>
<li><a href="stprofile.php">profile</a></li>
<li><a href="stpresult.php">previous results</a></li>
<li><a href="logout.php">logout</a></li><ul>
</div>

