<div id="banner"></div>
<div id="menu">
<ul>
<li><a href="tmain.php">Home</a></li>
<li><a href="tprofile.php">Profile</a></li>
<li><a href="addques.php">Add Questions</a></li>
<li><a href="editques.php">Manage Questions</a></li>
<li><a href="tresult.php">Result</a></li>
<li><a href="updatesub1.php">Edit Subject</a></li>
<li><a href="logout.php">Logout</a></li>
<ul>
</div>

